node_modules
**/node_modules
.pnpm-store

dist
build
**/dist
**/build
.cache

.git
.gitignore
.gitattributes

.env
.env.*
!.env.example

.vscode
.idea
.DS_Store

Dockerfile
docker-compose*.yaml
docker-compose*.yml
.dockerignore

README.md
docs

data
